.weather-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
	padding: 2rem 1rem;
	border: none;
	border-radius: 10px;
	box-shadow: 1rem 1rem;
	background-color: #eee;
	color: #00487c;
}

@media (max-width: 830px) and (min-width: 400px) {
	.weather-item {
		min-width: 150px;
		font-size: 1.5rem;
		box-shadow: 1rem 1rem;
	}
}
