#weather-display {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 2.5rem;
	margin-bottom: 5rem;
	justify-items: center;
	text-align: center;
}

@media (max-width: 1000px) {
	#weather-display {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 600px) {
	#weather-display {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 400px) {
	#weather-display {
		grid-template-columns: 1fr;
	}
}
