/* Universal */
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}

body {
	min-height: 100vh;
	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(2, 123, 206, 1) 100%);
	background-size: cover;
	color: #eee;
	font-size: 20px;
}

/* Heading */
header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

header > h1,
form {
	padding: 0 2rem;
}

/* Utilities */
input,
button {
	border: none;
	border-radius: 5px;
}

input {
	padding: 1rem 2rem;
	font-size: 1.5rem;
}

input[type='text'] {
	width: 250px;
	text-align: center;
}

input[type='submit'],
button {
	border: none;
	background-color: #00487c;
	color: #eee;
	font-weight: bold;
}

input[type='submit'] {
	margin-left: 1rem;
}

input[type='submit']:hover,
button:hover {
	opacity: 95%;
	cursor: pointer;
}

.delete {
	align-self: flex-end;
	margin-right: 1.5rem;
	padding: 0.25rem 0.75rem;
}

/* Media Queries */
@media (max-width: 1000px) {
	header {
		flex-direction: column;
		padding-bottom: 2rem;
	}

	form {
		padding-bottom: 2rem;
	}
}

@media (max-width: 600px) {
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	input[type='submit'] {
		display: inline-block;
		width: 100px;
		margin: 1rem 0;
	}
}
